.section-team {
  background-color: #f5f4fa;
}
  .team {
  display: flex;
  margin: 0;
  
  &__member {
    background:var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;
    }
    &__image {
      display: flex;
    }
    &__name {
      font-size: 16px;
      text-decoration: none;
      line-height: 1.8;
      letter-spacing: 0.03em;
      color: var(--primary-gray-color);
      text-align: center;
      margin-top: 10px;
    }
    &__description {
      padding: 30px 0;

    &:not(last-child) {
        margin-right: 0;
    }
    }
    &__worker {
      text-align: center;
      font-size: 16px;
      line-height: 1.18;
      letter-spacing: 0.03em;
      color: var(--second-main-color);
      }
      &__list {
        display: flex;
        justify-content: center;
        gap: 10px;
        }
        &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-size: 20px;
        background-repeat: no-repeat;
        color: #afb1b8;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
        
        &:hover,
        &:focus {
          background-color: var(--accent-color);
        }
        &:hover svg,
        &:focus svg {
          fill: var(--primary-white-color);
        }
        & svg {
          width: 20px;
          height: 20px;
          fill: #afb1b8;
          color:#b4b9cc;
        }
        &:hover,
        &-svg:focus {
          fill: var(--primary-white-color);
        }
        }

        &__icon {
         color:#b4b9cc;  
        }
      }