.section-image {
    padding-top: 0;
    padding-bottom: 94px;
  }
.images { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

&__product {
    position: relative;
    width: 370px;
    height: 294px;
    z-index: 1;

    &::before {
        position: absolute;
        display: inline-block;
        content: '';
        bottom: 0;
        width: 370px;
        height: 70px;
        background-color: rgba(47, 48, 58, 0.8);;
    }
}
&__product &__text {
  font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
}
&__text {
    position: absolute;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 27px 0;
    margin: 0;
    bottom: 0;
    left: 0;
    text-transform: uppercase;
}
&__icon {
      display: flex;
}
}