:root {
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --title-text-color: #000000;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --second-main-color: #212121;
    --primary-gray-color: #757575;
    --background-color: #e5e5e5;
  }